.elementor-39 .elementor-element.elementor-element-7a79cce {
    padding: 10px 0;
    z-index: 99999
}

.elementor-39 .elementor-element.elementor-element-a5fffee img {
    width: 100%
}

.elementor-39 .elementor-element.elementor-element-929ca73.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-menu-toggle {
    margin-left: auto;
    background-color: transparent
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu .elementor-item {
    font-family: axiforma, Sans-serif
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--main .elementor-item {
    color: #00aa2f;
    fill: #00aa2f
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown a,
.elementor-39 .elementor-element.elementor-element-f014438 .elementor-menu-toggle {
    color: #00aa2f
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown a:hover,
.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #f2f2f2
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown .elementor-item,
.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: axiforma, Sans-serif;
    font-size: 14px;
    font-weight: 600
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

.elementor-39 .elementor-element.elementor-element-f014438 .elementor-nav-menu--dropdown a {
    padding-left: 10px;
    padding-right: 10px
}

.elementor-39 .elementor-element.elementor-element-f014438 div.elementor-menu-toggle {
    color: #00aa2f
}

.elementor-39 .elementor-element.elementor-element-f014438 div.elementor-menu-toggle svg {
    fill: #00aa2f
}

.elementor-39 .elementor-element.elementor-element-f014438 {
    width: auto;
    max-width: auto;
    top: -8px
}

body:not(.rtl) .elementor-39 .elementor-element.elementor-element-f014438 {
    right: 173.5px
}

body.rtl .elementor-39 .elementor-element.elementor-element-f014438 {
    left: 173.5px
}

.elementor-39 .elementor-element.elementor-element-0a731cd .elementor-button {
    font-family: axiforma, Sans-serif;
    fill: #fff;
    color: #fff;
    background-color: #00aa2f;
    border-style: solid;
    border-width: 1.5px;
    border-color: #00aa2f;
    border-radius: 5px 5px 5px 5px
}

.elementor-39 .elementor-element.elementor-element-0a731cd .elementor-button:hover,
.elementor-39 .elementor-element.elementor-element-0a731cd .elementor-button:focus {
    color: #00aa2f;
    background-color: #fff
}

.elementor-39 .elementor-element.elementor-element-0a731cd .elementor-button:hover svg,
.elementor-39 .elementor-element.elementor-element-0a731cd .elementor-button:focus svg {
    fill: #00aa2f
}

.elementor-39 .elementor-element.elementor-element-0a731cd {
    width: auto;
    max-width: auto;
    top: -8px
}

body:not(.rtl) .elementor-39 .elementor-element.elementor-element-0a731cd {
    right: 0
}

body.rtl .elementor-39 .elementor-element.elementor-element-0a731cd {
    left: 0
}

@media(max-width:767px) {
    .elementor-39 .elementor-element.elementor-element-aa546db {
        width: 50%
    }
    .elementor-39 .elementor-element.elementor-element-929ca73 {
        width: 50%
    }
    body:not(.rtl) .elementor-39 .elementor-element.elementor-element-f014438 {
        right: 0
    }
    body.rtl .elementor-39 .elementor-element.elementor-element-f014438 {
        left: 0
    }
    .elementor-39 .elementor-element.elementor-element-f014438 {
        top: -5px
    }
}

@media(min-width:768px) {
    .elementor-39 .elementor-element.elementor-element-aa546db {
        width: 15%
    }
    .elementor-39 .elementor-element.elementor-element-929ca73 {
        width: 85%
    }
}

@font-face {
    font-family: axiforma;
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Regular.eot);
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Regular.eot?#iefix) format('embedded-opentype'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Regular.woff) format('woff'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Regular.ttf) format('truetype')
}

@font-face {
    font-family: axiforma;
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Medium.eot);
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Medium.eot?#iefix) format('embedded-opentype'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Medium-1.woff) format('woff'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Medium.ttf) format('truetype')
}

@font-face {
    font-family: axiforma;
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-SemiBold.eot);
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-SemiBold.eot?#iefix) format('embedded-opentype'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-SemiBold-1.woff) format('woff'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: axiforma;
    font-style: normal;
    font-weight: 800;
    font-display: auto;
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Bold.eot);
    src: url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Bold.eot?#iefix) format('embedded-opentype'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Bold-1.woff) format('woff'), url(https://bykea.com/wp-content/uploads/2020/02/Axiforma-Bold.ttf) format('truetype')
}